.App {
  text-align: center;
  font-size: 40px;
  margin: 30px;
}
.App-link {
  color: #61dafb;
}
.App h1 {  
  font-size: 100px;
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
}
body{
  margin: 0;
  text-align: center;
  background: #000;
  /* background-image: url("C:\Users\shres\Documents\MAIN_PROJECTS\memory_game\magic_match\public\images\cover2.png"); */
  color: azure;
}

button {
  width: 200px;
  height: 70px;
  text-align: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5,
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1));
  transition: all 0.3s ease;
}
button:hover {
  color: #000;
}
button:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
button:active {
  top: 2px;
}
.cardGrid{
  margin: 40px;
  margin-bottom: 500px;
  margin-left: 500px;
  margin-right: 500px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 50px;
  row-gap: 25px;
}
@keyframes Color{
  0%{
    color:#A0D468;
  }
  20%{
    color:#4FC1E9;
  }
  40%{
    color:#FFCE54;
  }
  60%{
    color:#FC6E51;
  }
  80%{
    color:#ED5565;
  }
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  20%{
    color:#4FC1E9;
  }
  40%{
    color:#FFCE54;
  }
  60%{
    color:#FC6E51;
  }
  80%{
    color:#ED5565;
  }
  100%{
    color:#AC92EC;
  }
} 